@media (max-width: 890px) { 
  #uparrow {
    position: fixed;
    right: 0.5ex;
    bottom: 1.5ex;
    text-align: center;
    font-size: 4ex;
    color: rgba(156, 156, 156, 0.58);
    z-index: 10;
  }
}