body{
  margin: 0;
  font-family: "Lucida Console";
}
  .navbar {
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto 40%;
  }
  #logo {
    text-align: center;
    align-items: center;
    width: 2ex;
    height: 2ex;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.49);
    color: white;
    padding: 1ex;
  }
  #uparrow {
    position: fixed;
    right: 3ex;
    bottom: 3ex;
    text-align: center;
    width: 7ex;
    height: 7ex;
    border-radius: 50%;
    background: rgba(156, 156, 156, 0.58);
    color: white;
  }
  .intro{
      padding: 70px 0px 10px 10%;
  }
  .intro-buttons{
    padding: 0px 0px 10px 10%;
  }
  .about-body{
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 10% 10px 10%;
    margin-top: 10ex;
  }
  .projects-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1ex;
  }
  .project-card{
    display: grid;
    grid-template-columns: auto;
    border: solid 2px black;
    padding: 1%;
    margin-bottom: 1ex;
  }
  .col1 .col2{
    display: grid;
    grid-template-columns: auto;
  }

  .project-img {
      height: 15ex;
      width: 100%;
  }

  .myskills{
    background: rgba(0, 0, 255, 0.5);
    padding: 10px 10% 10px 10%;
    margin-top: 2ex;
  }
  .skills-card{
    display: grid;
    grid-template-columns: auto;
    border: solid 2px black;
    padding: 1%;
    margin-bottom: 1ex;
  }
  .skill-img{
    height: 7.5ex;
    width: 100%;
  }

  footer{
    position: absolute;
    margin-top: 2ex;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  .footer{
    align-items: center;
    /* padding: 1.5ex; */
    
    width: 100%;
    height: auto;
    
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
  }
  #footer-contact {
    display: grid;
    grid-template-columns: auto;
    padding: 1%;
  }
  #footer-blog {
    display: grid;
    grid-template-columns: auto; 
    padding: 1%;
  }
  #footer-social {
    padding: 10% 20% 10% 20%;
  }
  #footer-copyright{
    text-align: center;
  }
  