version: 2.1

workflows:
  on_commit:
    jobs:
      - mochaTEST

jobs:
  mochaTEST:
    docker:
      - image: cimg/node:14.13.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: cd ./server && npm install
      - run:
          name: Build and Test
          command: cd ./server && export pacome_jwtPrivateKey=SECURE_KEY && npm run circleCItest
      - run:
          name: Put a test report copy in Artifacts
          command: cp -r ./server/coverage > /tmp/coverage;
      - store_artifacts:
          path: /home/circleci/.npm/_logs/2022-04-24T10_57_32_093Z-debug.log
          destination: coverage