a {
  color: inherit; 
  text-decoration: inherit;
}
body{
  margin: 0;
  font-family: "Lucida Console";
  background-image: url("../images/background-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#page-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 11ex;
  position: relative;
  min-height: 100vh;
}

/* #wrapper {
  min-height:100%;
} */
  .navbar {
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: auto auto auto auto auto 70%;
    gap: 2ex;
    color: #414141;
    font-size: 16px;
    z-index: 20;
    padding-left: 1ex;
  }
  .fa-right-from-bracket{
    margin-left: 3ex;
  }  
  #panel-navbar {
    position: fixed;
    align-items: center;
    padding: 0.5ex 0ex 0.5ex 2ex;

    width: 100%;
    height: 4ex;
    left: 0px;
    top: 7.2ex;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 23ex 15ex auto;
    gap: 0.1ex;
    color: #414141;
    font-size: 16px;
    z-index: 20;
  }
  #panel-navbar button{
    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.15);
    height: 3.5ex;
    font-family: "lucida Console";
    font-weight: normal;
    width:fit-content;
    padding: 0.5ex;
    
  }
  #panel-navbar .selected{
    background-color: rgba(196, 196, 196, 0.5);
    font-weight: bold;
  }

  #navbar2 {
    display: none;
  }
  #navbar-expanded {
    display: none;
  }

  #currentpage{
    color: black;
    font-size:20px;
  }
  #logo {
    text-align: center;
    width: 3ex;
    height: 3ex;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.49);
    color: white;
    font-size:x-large;
    padding: 0ex;
  }
  #capitalp{
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
  }
  #logout-button{
    text-align: right;
    margin-right: 8ex;
  }
  #night-day {
    position: fixed;
    right: 1ex;
    bottom: 3.5ex;
    text-align: center;
    font-size: 4ex;
    color: rgba(156, 156, 156, 0.58);
    z-index: 10;
  }
  #uparrow {
    position: fixed;
    right: 1ex;
    bottom: 1ex;
    text-align: center;
    font-size: 4ex;
    color: rgba(156, 156, 156, 0.58);
    z-index: 10;
  }
  .intro{
      padding: 79px 0px 10px 10%;
      font-weight: 700;
      font-size: 48px;
      width: 50%
  }

  .portfolio{
    background: rgba(255, 255, 255, 0.65);
    padding: 10px 10% 10px 10%;
    margin-top: 2ex;
  }
  .portfolio-title{
    border-radius: 5px;
    color: rgba(0, 0, 255, 0.49);
    font-weight: bold;
    font-size: 20px;
    height: 3ex;
    width: 100%;
    margin-bottom: 1ex;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio-title button{
    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.5);
    height: 3.5ex;
    font-family: "lucida Console";
    font-weight: bold;
    width:fit-content;
    padding: 0.5ex;
  }
  .portfolio-title-raw{
    /* background: rgba(196, 196, 196, 0.12); */
    text-align: center;
    width:fit-content;
    padding: 0.2ex;
  }
  .portfolio-title-raw:hover{
    color: rgba(0, 0, 255, 0.7);
  }
  
  .projects-grid{
    display: grid;
    grid-template-columns: auto;
    gap: 1ex;
  }
  .project-card{
    display: grid;
    grid-template-columns: 25% 30% auto;
    gap: 1ex;
    /* border: solid 2px black; */
    padding: 0.5ex;
    margin-bottom: 1ex;
    background: rgba(196, 196, 196, 0.12);
    align-items: center;
  }
  .buttons button{
    color: white;
    text-align: center;
    border-radius: 5px;
    
    height: 4.5ex;
    font-family: "lucida Console";
    font-weight: normal;
    width:50%;
    padding: 0.5ex;
  }
  .buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .edit{
    background: rgba(0, 0, 255, 0.5);
  }
  .edit:hover{
    background-color: rgba(0, 0, 255, 0.7);
  }
  .delete{
    background-color: rgba(255, 0,0, 0.49);
  }
  .delete:hover{
    background-color: rgba(255, 0, 0, 0.7);
  }
  .project-card-details{
    /* display: grid;
    grid-template-columns: auto; */
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }
  .blog-title{
    font-size: 18px;
    color: rgba(0, 0, 255, 0.49);
  } 
  .blog-subtitle{
    font-size: 14px;
    font-style: italic;
  }
  .reactions{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1ex;
    color: #a0a0a0;
  }
  #reactions-expanded{
    width: 50%;
  }
  .like-reaction,.comment-reaction,.view-reaction{
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 12px;
  }
  /* .col1{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  } */

  .project-img {
      height: 13.5ex;
      width: 100%;
      object-fit: cover;
  }
  
  .contact-title{
    /* background-color: rgba(196, 196, 196, 0.12); */
    color: rgba(0, 0, 255, 0.49);
    padding: 1% 2% 1% 2%;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1ex;
    width: fit-content;
  }
  #contact-form{
    display: grid;
    grid-template-columns: auto;
    gap: 1ex;
    z-index:1;
  }

  #title, #previewImageURL{
    font-family: "Lucida Console";
    height: 2ex;
    font-size: 2ex;
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    padding-left: 1ex;
    padding-top: 3ex;
    padding-bottom: 0.5ex;
    background-color: rgba(255,255,255,0);
    width: 100%;
    /* border: none; */
    outline: none;
    color: rgba(0,0,0,0.8);
  }
  .form-control{
    position: relative;
    /* overflow: hidden; */
  }
  .fa-check-circle{
    position: absolute;
    top: 0.75ex;
    right: 0ex;
    visibility:hidden;
    font-size: 3ex;
  }
  .fa-exclamation-circle{
    position: absolute;
    top: 0.75ex;
    right: 0ex;
    visibility:hidden;
    font-size: 3ex;
  }
  .form-control.success input#previewImageURL {
    border-color: #2ecc71;
  }
  .form-control.success input#title {
    border-color: #2ecc71;
  }
  .form-control.success textarea#articleBody {
    border-color: #2ecc71;
  }
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  .form-control.error{
    margin-bottom: 1.5ex;
  }
  .form-control.error input#previewImageURL {
    border-color: #e74c3c;
  }
  .form-control.error input#title {
    border-color: #e74c3c;
  }
  .form-control.error textarea#articleBody {
    border-color: #e74c3c;
  }
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: -2ex;
    left: 0;
    visibility: hidden;
    font-size:medium;
  }
  
  .form-control.error small {
    visibility: visible;
  }
  #articleBody{
    font-size: large;
    line-height: 1.7;
    color: black;
    background-color: white;
  }
  div label{
    position: absolute;
    bottom: 0px;
    left: 1ex;
    width: 100%;
    height: 100%;
    color: #414141;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
  }
  .content-title{
    position: absolute;
    font-size: 2ex;
    font-weight: 100;
    bottom: 1.9ex;
    left: 0px;
    transition: all .3s ease;
    color: rgb(100,100,100,.85);
  }
  #title:focus + .label-title .content-title,
  #title:valid + .label-title .content-title{
    transform: translateY(-130%);
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.49);
  }
  #title:focus, #title:valid{
    border: 2px solid rgba(0, 0, 255, 0.49);
  }
  #previewImageURL {
    font-family: "Lucida Console";
    height: 2ex;
    font-size: 2ex;
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    padding-left: 1ex;
    padding-top: 3ex;
    padding-bottom: 0.5ex;
    background-color: rgba(255,255,255,0);
    width: 100%;
    /* border: none; */
    outline: none;
    color: rgba(0,0,0,0.8);
  }
  form div{
    position: relative;
    /* overflow: hidden; */
  }
  div label{
    position: absolute;
    bottom: 0px;
    left: 1ex;
    width: 100%;
    height: 100%;
    color: #414141;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
  }
  .content-previewImageURL{
    position: absolute;
    font-size: 2ex;
    font-weight: 100;
    bottom: 1.9ex;
    left: 0px;
    transition: all .3s ease;
    color: rgb(100,100,100,.85);
  }
  #previewImageURL:focus + .label-previewImageURL .content-previewImageURL,
  #previewImageURL:valid + .label-previewImageURL .content-previewImageURL{
    transform: translateY(-130%);
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.49);
  }
  /* #email:focus + .label-email::after,
  #email:valid + .label-email::after{
    transform: translateX(0%);
  } */
  #previewImageURL:focus, #previewImageURL:valid{
    border: 2px solid rgba(0, 0, 255, 0.49);
  }
  #articleBody{
    font-family: "Lucida Console";
    height: 35ex !important;
    font-size: 2ex;
    border-radius: 5px;
    border: 1px solid rgb(100,100,100);
    padding-left: 1ex;
    padding-top: 4ex;
    padding-bottom: 0.5ex;
    background-color: rgba(255,255,255,0);
    width: 100%;
    /* border: none; */
    outline: none;
    color: rgba(0,0,0,0.8);
  }
  .content-articleBody{
    position: absolute;
    font-size: 2ex;
    font-weight: 100;
    top: 1.5ex;
    left: 0px;
    transition: all .3s ease;
    color: rgb(100,100,100,.85);
  }
  #articleBody:focus + .label-articleBody .content-articleBody,
  #articleBody:valid + .label-articleBody .content-articleBody{
    transform: translateY(10%);
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.49);
  }
  #articleBody:focus, #articleBody:valid{
    border: 2px solid rgba(0, 0, 255, 0.49);
    margin-top: 5ex;
    padding-top: 0.5ex;
  }

  button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 255, 0.49);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding-left: 0px;
  }
  .footer button{
    color: inherit;
    font-weight: normal;
  }
  .footer a:hover{
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }
  footer{
    margin-top: 2ex;
    margin-bottom: -2ex;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-start;
    padding: 0.5ex 0 1.5ex 0;
  }
  .footer{
    align-items: center;
    /* padding: 1.5ex; */
    
    width: 100%;
    height: 10ex;
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5ex;
    padding: 0 15% 0 15%;
    color: white;
  }
  #footer-contact {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    padding: 1%;
    color: white;
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-blog {
    text-align: center;
    display: grid;
    grid-template-columns: auto; 
    padding: 1%;
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-social {
    text-align: center;
    font-size: x-large;
    /* padding: 10% 10% 10% 10%; */
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-copyright{
    text-align: center;
    /* background: rgba(196, 196, 196, 0.05); */
  }

  @media (max-width: 890px) { 
    .fa-bars{
      color: rgba(0, 0, 255, 0.49);
      font-size: 24px;
      margin: 0.5ex;
    }
    #night-day {
      position: fixed;
      right: 0.5ex;
      bottom: 4ex;
      text-align: center;
      font-size: 3ex;
      color: rgba(156, 156, 156, 0.58);
      z-index: 10;
    }
    #uparrow {
      position: fixed;
      right: 0.5ex;
      bottom: 1.5ex;
      text-align: center;
      font-size: 3ex;
      color: rgba(156, 156, 156, 0.58);
      z-index: 10;
    }
    .navbar{
      display: none;
    }
    #navbar2{
      display: block;
    z-index : 20;
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 3ex 15ex auto 6ex;
    gap: 2ex;
    color: #414141;
    font-size: 16px;
    z-index: 20;
    }
    #navbar-expanded{
      border-top: 1px solid white;
      position: fixed;
      width: 60%;
      border-bottom-left-radius: 5%;
      top: 7ex;
      right: 0px;
      padding: 1.5ex;
      background: rgba(128, 128, 255, 0.95);
      display: grid;
      grid-template-columns: auto;
      gap: 1.5ex;
      color: white;
      font-size: 16px;
      z-index: 20;
      display:none;
    }
    #brandname{
      color: black;
      font-size: 20px;
    }
    #currentpage{
      color: white;
      font-weight: bold;
    }
  
  }

  @media (max-width: 820px) { 
    #logout-button{
      text-align: right;
      margin-right: 12ex;
    }    
  }

  @media (max-width: 768px) { 
    .footer{
      grid-template-columns: auto 50%;
      gap: 1ex;
      row-gap: 4ex;
      height: auto;
      padding-top: 1ex;
      padding-bottom: 1ex;
      width:100%;
      padding:0;
    }
    #footer-copyright {
      grid-column: 1 / span 2;
    }



    .fa-bars{
      color: rgba(0, 0, 255, 0.49);
      font-size: 24px;
      margin: 0.5ex;
    }
    .navbar{
      display: none;
    }
    #navbar2{
      display: block;
    z-index : 20;
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns:  3ex 15ex auto 6ex;
    gap: 2ex;
    color: #414141;
    font-size: 16px;
    }
    #navbar-expanded{
      border-top: 1px solid white;
      position: fixed;
      width: 60%;
      border-bottom-left-radius: 5%;
      top: 7ex;
      right: 0px;
      padding: 1.5ex;
      background: rgba(128, 128, 255, 0.95);
      display: grid;
      grid-template-columns: auto;
      gap: 1.5ex;
      color: white;
      font-size: 16px;
      z-index: 20;
      display:none;
    }
    #brandname{
      color: black;
      font-size: 20px;
    }
    #currentpage{
      color: white;
      font-weight: bold;
    }

    .projects-grid{
      display: grid;
      grid-template-columns: auto;
      gap: 0.5ex;
    }

    .project-card{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      gap: 1ex;
      padding: 1%;
      margin-bottom: 1ex;
      background: rgba(196, 196, 196, 0.58);
      border-radius: 5px;
    }

    .intro{
      padding: 83px 0px 5px 10%;
      font-weight: 700;
      font-size: 36px;
      width: 50%
    }
    .portfolio{
      padding: 10px 1.5% 10px 1.5%;
    }
    .portfolio-title{
      font-weight: bold;
      font-size: medium;
      height: 3ex;
      width: 100%;
      margin-bottom: 1ex;
      display: flex;
      align-items: center;
    }
    .portfolio-title button{
      font-weight: normal;
      padding: 0.5ex;
      height: auto;
    }
    .project-img {
      height: 12ex;
      width: 100%;
      object-fit: cover;
    }

    #night-day {
      position: fixed;
      right: 0.5ex;
      bottom: 4ex;
      text-align: center;
      font-size: 3ex;
      color: rgba(156, 156, 156, 0.58);
      z-index: 10;
    }
    #uparrow {
      position: fixed;
      right: 0.5ex;
      bottom: 1.5ex;
      text-align: center;
      font-size: 3ex;
      color: rgba(156, 156, 156, 0.58);
      z-index: 10;
    }
    .project-card-details button{
      font-size: small;
    }
    

  }

  @media (max-width: 480px) {   
    .portfolio button{
      font-size: small;
    }
  }

@media (max-width: 320px) { 
          footer{
            font-size: x-small;
          }
          .project-card{
            font-size: x-small;
          }
          .portfolio-title{
            font-size: small;
          }
          .intro{
            font-size: medium;
          }
          .intro-buttons button{
            font-size: x-small;
          }
          #footer-social {
            font-size: medium;
          }
          .project-card-details button{
            font-size: x-small;
          }
}