a {
  color: inherit; 
  text-decoration: inherit;
}
body{
  margin: 0;
  font-family: "Lucida Console";
  background-image: url("../images/background-image.jpg");
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#page-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  position: relative;
  min-height: 100vh;
}

/* #wrapper {
  min-height:100%;
} */
  .navbar {
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: auto auto auto auto auto 70%;
    gap: 2ex;
    color: #414141;
    font-size: 16px;
    z-index: 10;
  }
  .fa-right-from-bracket{
    margin-left: 3ex;
  } 
  #navbar2 {
    display: none;
  }
  #navbar-expanded {
    display: none;
  }

  #currentpage{
    color: black;
    font-size:20px;
  }
  #logo {
    text-align: center;
    width: 3ex;
    height: 3ex;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.49);
    color: white;
    font-size:x-large;
    padding: 0ex;
  }
  #capitalp{
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
  }
  #logout-button{
    text-align: right;
    margin-right: 8ex;
  }
  #uparrow {
    position: fixed;
    right: 1ex;
    bottom: 1ex;
    text-align: center;
    font-size: 7ex;
    color: rgba(156, 156, 156, 0.58);
    z-index: 10;
  }
  .intro{
      padding: 50px 0px 10px 10%;
      font-weight: 700;
      font-size: 48px;
      width: 50%
  }

  .portfolio{
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 10% 10px 10%;
    margin-top: 2ex;
  }
  .portfolio-title{
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    color: rgba(0, 0, 255, 0.49);
    font-weight: bold;
    font-size: 24px;
    height: 3ex;
    width: 20ex;
    margin-bottom: 1ex;
    display: flex;
    align-items: center;
  }
  .portfolio-title-raw{
    text-align: center;
    width: 100%;
  }
  .projects-grid{
    display: grid;
    grid-template-columns: auto;
    gap: 1ex;
  }
  .project-card{
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 3ex;
    row-gap: 0.5ex;
    /* border: solid 2px black; */
    padding: 0.3%;
    margin-bottom: 1ex;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
  }
  .project-card-details{
    display: grid;
    grid-template-columns: auto;
    gap: 1ex;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
  }
  .blog-title{
    font-size: 16px;
    color: rgba(0, 0, 255, 0.49);
  } 
  .blog-subtitle{
    font-size: 12px;
    font-style: italic;
  }
  .reactions{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1ex;
    color: #a0a0a0;
  }
  .like-reaction,.comment-reaction,.view-reaction{
    font-size: 12px;
    /* background: rgba(255, 255, 255, 0.4); */
    text-align: center;
  }


  .project-img {
      height: 15ex;
      width: 100%;
      object-fit: cover;
  }

  

  button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 255, 0.49);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding-left: 0px;
  }
  .footer button{
    color: inherit;
    font-weight: normal;
  }

  footer{
    margin-top: 2ex;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-start;
  }
  .footer{
    align-items: center;
    /* padding: 1.5ex; */
    
    width: 100%;
    height: 10ex;
    

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18ex;
    color: white;
    padding: 0 15% 0 15%;
  }
  #footer-contact {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    padding: 1%;
    color: white;
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-blog {
    text-align: center;
    display: grid;
    grid-template-columns: auto; 
    padding: 1%;
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-social {
    text-align: center;
    font-size: x-large;
    /* padding: 10% 10% 10% 10%; */
    background: rgba(196, 196, 196, 0.0);
  }
  #footer-copyright{
    text-align: center;
    /* background: rgba(196, 196, 196, 0.05); */
  }




  @media (max-width: 890px) { 
    .footer{
      grid-template-columns: auto 50%;
      gap: 1ex;
      row-gap: 4ex;
      height: auto;
      padding-top: 1ex;
      padding-bottom: 1ex;
      width:100%;
      padding: 0;
    }
    #footer-copyright {
      grid-column: 1 / span 2;
    }


    .fa-bars{
      color: rgba(0, 0, 255, 0.49);
      font-size: 24px;
      margin: 0.5ex;
    }
    .navbar{
      display: none;
    }
    #navbar2{
      display: block;
    z-index : 10;
    position: fixed;
    align-items: center;
    padding: 0.5ex;
    
    width: 100%;
    height: 6ex;
    left: 0px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns:  3ex 15ex auto 6ex;
    gap: 2ex;
    color: #414141;
    font-size: 16px;
    }
    #navbar-expanded{
      border-top: 1px solid white;
      position: fixed;
      width: 60%;
      border-bottom-left-radius: 5%;
      top: 7ex;
      right: 0px;
      padding: 1.5ex;
      background: rgba(128, 128, 255, 0.95);
      display: grid;
      grid-template-columns: auto;
      gap: 1.5ex;
      color: white;
      font-size: 16px;
      z-index: 10;
      display:none;
    }
    #brandname{
      color: black;
      font-size: 20px;
    }
    #currentpage{
      color: white;
      font-weight: bold;
    }

    .projects-grid{
      display: grid;
      grid-template-columns: auto;
      gap: 0.5ex;
    }

    .project-card{
      display: grid;
      grid-template-columns: 40% auto;
      align-items: center;
      gap: 1ex;
      padding: 1%;
      margin-bottom: 1ex;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }

    .intro{
      padding: 70px 0px 5px 10%;
      font-weight: 700;
      font-size: 36px;
      width: 50%
    }
    .portfolio{
      padding: 10px 1.5% 10px 1.5%;
    }
    .portfolio-title{
      font-weight: bold;
      font-size: 24px;
      height: 3ex;
      width: 20ex;
      margin-bottom: 1ex;
      display: flex;
      align-items: center;
    }
    .project-img {
      height: 12ex;
      width: 100%;
      object-fit: cover;
    }

    #uparrow {
      position: fixed;
      right: 0.5ex;
      bottom: 1.5ex;
      text-align: center;
      font-size: 4ex;
      color: rgba(156, 156, 156, 0.58);
      z-index: 10;
    }
    .project-card-details button{
      font-size: small;
    }
    

  }

@media (max-width: 320px) { 
          footer{
            font-size: x-small;
          }
          .project-card, .project-card-details, .blog-title, .blog-subtitle{
            font-size: x-small;
          }
          .portfolio-title{
            font-size: small;
          }
          .intro{
            font-size: medium;
          }
          .intro-buttons button{
            font-size: x-small;
          }
          #footer-social {
            font-size: small;
          }
          .project-card-details button{
            font-size: x-small;
          }
          .like-reaction,.comment-reaction,.view-reaction{
            font-size: xx-small;
          }
}